<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <title>Add book</title>
</head>
<body>
	<div class="container mt-5">
		<div class="card shadow-sm p-4">
    <h1>Add book</h1>
<form th:object="${book}" th:action="@{save}" action="#" method="post">
	<div class="mb-3">
	<label for="title" class="form-label">Title:</label>
	<input type="text" class="form-control" id="title" th:field="*{title}" />
	</div>
	<div class="mb-3">
	<label for="author" class="form-label">Author:</label>
	<input type="text" class="form-control" id="author" th:field="*{author}" />
	</div>
	<div class="mb-3">
	<label for="isbn" class="form-label">ISBN:</label>
	<input type="text" class="form-control" id="isbn" th:field="*{isbn}" />
	</div>
	<div class="mb-3">
    <label for="publicationYear" class="form-label">Year:</label>
	<input type="number" class="form-control" id="publicationYear" step="1" th:field="*{publicationYear}" />
	</div>
	<div class="mb-3">
    <label for="price" class="form-label">Price:</label>
	<input type="number" class="form-control" id="price" step="0.01" th:field="*{price}" />
	</div>
	<div class="mb-3">
	<label for="categorylist" class="form-label">Category:</label>
	<select id="categorylist" class="form-select" th:field="*{category}">
	<option th:each="category: ${categories}"
		th:value="${category.categoryid}"
		th:text="${category.name}"></option>
	</select>
	</div>
	
	<input type="submit" value="Save" class="btn btn-success"></input>
</form>
</div>
</div>
    
</body>
</html>