<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>Categorylist</title>
</head>
<body style="margin: 20px;">
    <h1>Categories</h1>
    <table class="table table-striped">
        <tr>
            <th>Category</th>
        </tr>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
        </tr>
    </table>
    <a href="/addcategory" class="btn btn-success">Create Category</a>
</body>
</html>